NODE_ENV=development
PORT=5050
ALLOWED_ORIGINS=https://tvk-mla-support.vercel.app,http://localhost:5174
MONGODB_URI=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin@123
JWT_SECRET=
BACKEND_URL=
FRONTEND_URL=
META_ACCESS_TOKEN=
META_APP_ID=
META_APP_SECRET=
META_PHONE_NUMBER_ID=
META_WABA_ID=
META_VERIFY_TOKEN=tvk_verify_token
META_GRAPH_VERSION=v22.0
WHATSAPP_FLOW_ID=
WHATSAPP_FLOW_STATUS=
FLOW_PRIVATE_KEY=
FLOW_PUBLIC_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
